body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strike {
  text-decoration: line-through;
}

.songRow {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: left;
}

.songTitle {
  width: 22vw;
}

.songArtist {
  margin-left: 50px;
  width: 22vw;
}

.songTempo {
  margin-left: 25px;
  width: 60px;
  text-align: right;
}